@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: "Sans-Regular";
  src: url(../fonts/Sans-Regular.ttf);
}

@font-face {
  font-family: "Sans-Medium";
  src: url(../fonts/Sans-Medium.ttf);
}

@font-face {
  font-family: "Sans-DemiBold";
  src: url(../fonts/Sans-DemiBold.ttf);
}

@font-face {
  font-family: "Sans-Bold";
  src: url(../fonts/Sans-Bold.ttf);
}

body {
  @apply min-h-screen flex items-center justify-center flex-col gap-5 font-Sans-Medium bg-zinc-900 text-white;
}

header {
  @apply flex items-center justify-center text-4xl gap-4 text-zinc-200 select-none;
}

footer.copyright {
  direction: ltr;
  @apply fixed text-zinc-500 text-center w-full z-0 bottom-4;
}

table {
  @apply w-[740px] text-center bg-zinc-900 text-sm rounded overflow-hidden border border-white text-zinc-500;
}

thead {
  @apply text-xs  uppercase  bg-zinc-600 text-zinc-400;
}

th {
  @apply px-6 py-4 font-medium whitespace-nowrap text-zinc-200;
}

tr {
  @apply border-b bg-zinc-800 border-zinc-700;
}

.hero {
  @apply w-[740px] flex items-center justify-between;
  p {
    @apply text-zinc-400;
  }

  .open-modal {
    @apply px-4 focus-within:ring-4 ring-indigo-500/70 p-1.5 rounded duration-150 text-sm shadow-inner shadow-indigo-500 hover:bg-opacity-90 bg-indigo-700;
  }
}

.modal-screen {
  @apply flex items-center justify-center z-10 min-h-screen top-0 right-0 fixed w-full bg-zinc-700/20 backdrop-blur-sm;
}
.modal {
  @apply w-[400px] child:p-4 bg-zinc-800 text-base;

  header.modal-header {
    @apply flex items-center justify-between text-[16px!important];
  }

  span {
    @apply text-base
  };

  button {
    @apply text-base
  }

  main {
    @apply text-zinc-200 text-justify font-light text-sm space-y-2
  }
  
  
  .modal-buttons {
    @apply flex items-center justify-end gap-2 child:px-4 child:py-2 child:text-sm  text-[14px!important] child:rounded-lg child:duration-150;

    button.close {
      @apply text-red-500 hover:bg-red-500/10 focus:ring-4 ring-red-500/40;
    }

    button.continue {
      @apply bg-[#006FEE] hover:bg-sky-400 focus:ring-4 ring-sky-500/70;
    }
  }
}

.modal-screen.hidden {
  @apply opacity-0 invisible;
}


.input-card {
  @apply w-full relative h-10 bg-zinc-700 child:absolute child:w-full child:bg-transparent child:outline-none child:h-full child:px-4 rounded overflow-hidden focus-within:ring-2 shadow-inner shadow-zinc-400/10 child:ring-zinc-500 duration-150
}